@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Regular.woff2') format('woff2'),
         url('assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Open Sans', Arial, sans-serif;
}

img {
    width: 100%;
    max-width: 500px;
}
